.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 30px; /* Width of each cell */
  height: 30px; /* Height of each cell */
  border: 0px solid black; /* Border for the cells */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable area */
}
