.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border: 1px solid black; /* Border for the grid */
  background-color: gray;
  min-height: 200px; /* Minimum height of the grid */
}

.row {
  display: flex;
}

.cell {
  width: 8px; /* Width of each cell */
  height: 8px; /* Height of each cell */
  border: 0px solid black; /* Border for the cells */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable area */
}
